<h1>Add New Category</h1>

{% with messages = get_flashed_messages() %}
{% if messages %}
<ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}

<form action="" method="POST" novalidate>
    {{ form.hidden_tag() }}
    <p>
        {{ form.category_name.label }}
        {{ form.category_name(size=32) }}
        {% for error in form.category_name.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.category_description.label }}
        {{ form.category_description(size=32) }}
        {% for error in form.category_description.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.category_image.label }}
        {{ form.category_image }}
        {% for error in form.category_image.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.submit() }}
    </p>
</form>